html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://static.pexels.com/photos/325185/pexels-photo-325185.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item {
    margin: 0 auto;
}

.portfolio-item :hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.img-responsive{
    margin: 10%;
}
/* About */

.about {
    padding: 50px 0;
    background: #337ab7;
	color: white;
}

/* Technologies */

.technologies {
    padding: 50px 0;
}

.technologies-item {
    margin-bottom: 30px;
}

/* HR */

hr.small {
    max-width: 100px;
}
/* Footer */
footer {
    padding: 100px 0;
}


